
.buy-btn{
    background-color: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px;
}
.title{
    margin: 50px 0 20px 0;
}
.carousel-item{
    padding: 10px 40px;
}
.card{
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 10px lightgrey;
    padding: 30px 25px;
    text-align: center;
}
b{
    color: #ffbb00;
    cursor: pointer;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.title3{
    margin: 100px 0 50px 0;

}

.col-md-5 img{
    
    width: 120%;
}
.box{
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 10px lightgrey;
    padding-top: 50px;
    height: 250px;
    width: 270px;
    margin: 0 20px 30px 0;
}
.box h5{
    margin: 15px;
}